<!DOCTYPE html>
<html>
  <head>
    <title>AKS Primality Tester</title>
  </head>
  <body>
    <input id="n" size="15" pattern="[0-9]*" type="text" value="2685241991" />
    <input id="testPrimality" type="button" value="Test Primality" />

    <pre id="jobs"></pre>
    <input id="refresh" type="button" value="Refresh" />
    <script>
      'use strict';

      function onJobStarted() {
      }

      function startJob(key) {
        var req = new XMLHttpRequest();
        req.onload = onJobStarted;
        req.open("post", "/startJob", true);

        var form = new FormData();
        form.append("key", key);
        req.send(form);
      }

      function onJobUploaded() {
        var key = this.responseText;
        startJob(key);
      }

      function testPrimality() {
        var n = document.getElementById('n').value;

        var req = new XMLHttpRequest();
        req.onload = onJobUploaded;
        req.open("post", "/uploadJob", true);

        var form = new FormData();
        form.append("n", n);
        req.send(form);
      }

      var testPrimalityButton = document.getElementById('testPrimality');
      testPrimalityButton.onclick = testPrimality;

      function onJobsLoad() {
        var jobsPre = document.getElementById('jobs');
        var jobs = JSON.parse(this.responseText);
        if (jobs) {
          for (var i = 0; i < jobs.length; ++i) {
            var job = jobs[i];
            job.NonWitnessCount =
              job.NonWitnesses ? job.NonWitnesses.length : null;
            delete job.NonWitnesses
          }
        }
        jobsPre.textContent = JSON.stringify(jobs, null, " ");
      }

      function updateJobs() {
        var req = new XMLHttpRequest();
        req.onload = onJobsLoad;
        req.open("get", "/getJobs", true);
        req.send();
      }

      var refreshButton = document.getElementById('refresh');
      refreshButton.onclick = updateJobs;

      window.setInterval(updateJobs, 5000);
    </script>
  </body>
</html>
